<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<!-- Example
		<add name="ds-sqlite3" providerName="sqlite3" connectionString="Data Source=c:\foo\test.db" />
		<add name="ds-oracle" providerName="oracle" 
			connectionString="User Id=user1; Password=user1password; Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = TESTDB1)))" />
		<add name="ds-postgres" providerName="postgres" connectionString="" />
		<add name="ds-mssql" providerName="mssql" connectionString="" />
		<add name="ds-mysql" providerName="mysql" connectionString="" />
		-->
	</connectionStrings>
</configuration>
